NEXTAUTH_SECRET=i7Cuf9Io7Y6p0gmI1l6FdUo/WDfrqKCFAq+iWhR2Jo=
# .env.local
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000

# Base URLs for REMOTE Yowyob APIs
NEXT_PUBLIC_YOWYOB_AUTH_SERVICE_BASE_URL=https://gateway.yowyob.com/auth-service
NEXT_PUBLIC_YOWYOB_ORGANIZATION_SERVICE_BASE_URL=https://gateway.yowyob.com/organization-service

NEXT_PUBLIC_YOWYOB_RESOURCE_SERVICE_BASE_URL=https://gateway.yowyob.com/resource-service
NEXT_PUBLIC_YOWYOB_PRODUCT_STATE_SERVICE_BASE_URL=https://gateway.yowyob.com/product-management-service
NEXT_PUBLIC_YOWYOB_MEDIA_SERVICE_BASE_URL=https://gateway.yowyob.com/media-service

# Client Credentials for Yowyob Auth Service (used by remote auth repository)
# NEXT_PUBLIC_AUTH_SERVICE_CLIENT_ID=test-client
# NEXT_PUBLIC_AUTH_SERVICE_CLIENT_SECRET=secret
NEXT_PUBLIC_AUTH_SERVICE_BEARER_TOKEN=


# Data Source Configuration
# 'local' = fetch JSON from /data/* and operate in memory
# 'remote' = use actual Yowyob APIs via apiClient.ts
NEXT_PUBLIC_DATA_SOURCE=local

NEXT_PUBLIC_API_BASE_URL=https://gateway.yowyob.com
