{"openapi":"3.0.1","info":{"title":"Resource Management Service","description":"Resource Management Service","license":{"name":"Unlicense","url":"https://unlicense.org/"},"version":"1.0.0"},"servers":[{"url":"https://gateway.yowyob.com/resource-service"}],"security":[{"bearerAuth":[]}],"paths":{"/{product_post_id}/sale-prices/{id}":{"get":{"tags":["Prix de Vente"],"operationId":"getSalePriceById","parameters":[{"name":"product_post_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalePriceDto"}}}}}},"put":{"tags":["Prix de Vente"],"operationId":"updateSalePrice","parameters":[{"name":"product_post_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSalePriceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalePriceDto"}}}}}},"delete":{"tags":["Prix de Vente"],"operationId":"delete","parameters":[{"name":"product_post_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/{product_id}/variations/{id}":{"get":{"tags":["Variations"],"operationId":"getProductVariationById","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariationDto"}}}}}},"put":{"tags":["Variations"],"operationId":"updateVariation","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVariationRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariationDto"}}}}}},"delete":{"tags":["Variations"],"operationId":"deleteVariation","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/{organization_id}/units/{id}":{"get":{"tags":["Pricing Mode"],"operationId":"getUnitById","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnitDto"}}}}}},"put":{"tags":["Pricing Mode"],"operationId":"updateUnit","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUnitRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnitDto"}}}}}},"delete":{"tags":["Pricing Mode"],"operationId":"deleteUnit","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/{organization_id}/services/{id}":{"get":{"tags":["Services"],"operationId":"getServiceById","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}}}},"put":{"tags":["Services"],"operationId":"update","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateServiceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}}}},"delete":{"tags":["Services"],"operationId":"delete_1","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/{organization_id}/resources/{id}":{"get":{"tags":["Resources"],"operationId":"getResourceById","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceDto"}}}}}},"put":{"tags":["Resources"],"operationId":"update_1","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateResourceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceDto"}}}}}},"delete":{"tags":["Resources"],"operationId":"delete_2","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/{organization_id}/product-posts/{product_id}":{"get":{"tags":["Produit Posts"],"operationId":"getProductPost","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductPostDto"}}}}}},"put":{"tags":["Produit Posts"],"operationId":"updateProductPost","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProductPostRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductPostDto"}}}}}},"delete":{"tags":["Produit Posts"],"operationId":"deleteProductPost","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/product-brand/update/{id}":{"put":{"tags":["ProductBrand"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProductBrandRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductBrandDto"}}}}}}},"/models/update/{id}":{"put":{"tags":["Models"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateModelRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateModelResponse"}}}}}}},"/categorie/update/{id}":{"put":{"tags":["Categories"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCategoryRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateCategoryResponse"}}}}}}},"/attributes/update/{id}":{"put":{"tags":["Attributes"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAttributeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateAttributeResponse"}}}}}}},"/{product_post_id}/sale-prices":{"get":{"tags":["Prix de Vente"],"operationId":"getSalePrices","parameters":[{"name":"product_post_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SalePriceDto"}}}}}}},"post":{"tags":["Prix de Vente"],"operationId":"createSalePrice","parameters":[{"name":"product_post_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSalePriceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalePriceDto"}}}}}}},"/{product_id}/variations":{"get":{"tags":["Variations"],"operationId":"getProductVariations","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VariationDto"}}}}}}},"post":{"tags":["Variations"],"operationId":"createVariation","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVariationRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VariationDto"}}}}}}},"/{product_id}/variations/save":{"post":{"tags":["Variations"],"operationId":"saveVariations","parameters":[{"name":"product_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VariationRequest"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VariationDto"}}}}}}}},"/{organization_id}/units":{"get":{"tags":["Pricing Mode"],"operationId":"getOrganizationUnits","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UnitDto"}}}}}}},"post":{"tags":["Pricing Mode"],"operationId":"create","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUnitRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnitDto"}}}}}}},"/{organization_id}/services":{"get":{"tags":["Services"],"operationId":"getServices","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDto"}}}}}}},"post":{"tags":["Services"],"operationId":"createService","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServiceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceDto"}}}}}}},"/{organization_id}/resources":{"get":{"tags":["Resources"],"operationId":"getResources","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceDto"}}}}}}},"post":{"tags":["Resources"],"operationId":"createResource","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateResourceRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceDto"}}}}}}},"/{organization_id}/product-posts":{"get":{"tags":["Produit Posts"],"operationId":"getAllProductPosts","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"marchandId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"variationId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"categorieId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductPostDto"}}}}}}},"post":{"tags":["Produit Posts"],"operationId":"createProductPost","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductPostRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductPostDto"}}}}}}},"/reviews/add":{"post":{"tags":["Reviews"],"operationId":"addReviews","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReviewRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewDto"}}}}}}},"/reactions/create":{"post":{"tags":["Reaction"],"operationId":"react","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReactionRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReactionDto"}}}}}}},"/product-brand/create":{"post":{"tags":["ProductBrand"],"operationId":"createProductBrand","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductBrandRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductBrandDto"}}}}}}},"/models/create":{"post":{"tags":["Models"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateModelRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateModelResponse"}}}}}}},"/media/add/product/{productId}":{"post":{"tags":["Media"],"operationId":"submitImage","parameters":[{"name":"file","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"binary"}}},{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MediaResponse"}}}}}}}},"/categorie/create":{"post":{"tags":["Categories"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCategoryRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCategoryResponse"}}}}}}},"/attributes/values":{"get":{"tags":["Attributes"],"operationId":"getValuesByAttributeId","parameters":[{"name":"attributeId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"productId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AttributeValueDto"}}}}}}},"post":{"tags":["Attributes"],"operationId":"addQttributeValue","parameters":[{"name":"productId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"attributId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"value","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttributeValueResponse"}}}}}}},"/attributes/values/{value_id}":{"post":{"tags":["Attributes"],"operationId":"addQttributeValue_1","parameters":[{"name":"value_id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"value","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttributeValueResponse"}}}}}}},"/attributes/create":{"post":{"tags":["Attributes"],"operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAttributeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateAttributeResponse"}}}}}}},"/{organization_id}/units/base/{base_unit_id}":{"get":{"tags":["Pricing Mode"],"operationId":"getOrganizationSubUnits","parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"base_unit_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UnitDto"}}}}}}}},"/{organization_id}/services/search":{"get":{"tags":["Services"],"operationId":"searchServices","parameters":[{"name":"organization_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"category_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDto"}}}}}}}},"/{organization_id}/resources/search":{"get":{"tags":["Resources"],"operationId":"searchResources","parameters":[{"name":"organization_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"category_id","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceDto"}}}}}}}},"/reviews":{"get":{"tags":["Reviews"],"operationId":"getAll","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"targetId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReviewDto"}}}}}}}},"/reviews/{id}":{"get":{"tags":["Reviews"],"operationId":"getReviewsById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewDto"}}}}}}},"/reviews/update/{id}":{"get":{"tags":["Reviews"],"operationId":"updateReviews","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"request","in":"query","required":true,"schema":{"$ref":"#/components/schemas/UpdateReviewRequest"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewDto"}}}}}}},"/reactions":{"get":{"tags":["Reaction"],"operationId":"findByTarget","parameters":[{"name":"targetId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"reactionType","in":"query","required":false,"schema":{"type":"string","enum":["LIKE","LOVE","HAHA","WOW","SAD","ANGRY","CELEBRATE"]}},{"name":"userId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReactionDto"}}}}}}}},"/product-brand":{"get":{"tags":["ProductBrand"],"operationId":"getAll_1","parameters":[{"name":"createdByUserId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductBrandDto"}}}}}}}},"/product-brand/{id}":{"get":{"tags":["ProductBrand"],"operationId":"getProductBrandById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductBrandDto"}}}}}}},"/models":{"get":{"tags":["Models"],"operationId":"getAll_2","parameters":[{"name":"createdByUserId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ModelDto"}}}}}}}},"/models/{id}":{"get":{"tags":["Models"],"operationId":"getMethodName","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ModelDto"}}}}}}},"/media":{"get":{"tags":["Media"],"operationId":"getAllFile","parameters":[{"name":"targetId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MediaDto"}}}}}}}},"/media/download/{realName}/{fileName}":{"get":{"tags":["Media"],"operationId":"downloadProfileImage","parameters":[{"name":"realName","in":"path","required":true,"schema":{"type":"string"}},{"name":"fileName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/media/download/{media_id}":{"get":{"tags":["Media"],"operationId":"downloadProfileImage_1","parameters":[{"name":"media_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/favicon.ico":{"get":{"tags":["favicon-controller"],"operationId":"favicon","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/categorie":{"get":{"tags":["Categories"],"operationId":"getAll_3","parameters":[{"name":"ownerId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDto"}}}}}}}},"/categorie/{id}":{"get":{"tags":["Categories"],"operationId":"getOne","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryDto"}}}}}}},"/attributes":{"get":{"tags":["Attributes"],"operationId":"getAll_4","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AttributeDto"}}}}}}}},"/attributes/{id}":{"get":{"tags":["Attributes"],"operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AttributeDto"}}}}}}},"/reviews/delete":{"delete":{"tags":["Reviews"],"operationId":"deleteReviews","parameters":[],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/reactions/delete":{"delete":{"tags":["Reaction"],"operationId":"deleteReaction","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/product-brand/delete/{id}":{"delete":{"tags":["ProductBrand"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/models/delete/{id}":{"delete":{"tags":["Models"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/media/delete/{id}":{"delete":{"tags":["Media"],"operationId":"deleteFile","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/categorie/delete/{id}":{"delete":{"tags":["Categories"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}},"/attributes/delete/{id}":{"delete":{"tags":["Attributes"],"operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"401":{"description":"Unauthorized","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"200":{"description":"OK"}}}}},"components":{"schemas":{"ApiResponse":{"type":"object","properties":{"status":{"type":"string","enum":["SUCCESS","FAILED","UNKNOWN"]},"message":{"type":"string"},"data":{"type":"object"},"errors":{"type":"object","additionalProperties":{"type":"string"}},"ok":{"type":"boolean"}}},"UpdateSalePriceRequest":{"type":"object","properties":{"product_post_id":{"type":"string","format":"uuid"},"sale_price_type":{"type":"string","enum":["RETAIL","WHOLESALE","SEMI_WHOLESALE","SUPER_WHOLESALE","DELIVERY","PURCHASE","OTHER_PRICE"]},"min_quantity":{"type":"integer","format":"int32"},"max_quantity":{"type":"integer","format":"int32"},"value":{"type":"number"},"max_reduction":{"type":"number"},"currency":{"type":"string"},"is_negociable":{"type":"boolean"},"validity_date":{"type":"string","format":"date-time"},"notes":{"type":"string"}}},"SalePriceDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"product_post_id":{"type":"string","format":"uuid"},"sale_price_type":{"type":"string","enum":["RETAIL","WHOLESALE","SEMI_WHOLESALE","SUPER_WHOLESALE","DELIVERY","PURCHASE","OTHER_PRICE"]},"min_quantity":{"type":"integer","format":"int32"},"max_quantity":{"type":"integer","format":"int32"},"value":{"type":"number"},"max_reduction":{"type":"number"},"currency":{"type":"string"},"is_negociable":{"type":"boolean"},"validity_date":{"type":"string","format":"date-time"},"notes":{"type":"string"}}},"UpdateVariationRequest":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"name":{"type":"string"},"default_purchase_price":{"type":"number","format":"double"},"default_purchase_price_in_tax":{"type":"number","format":"double"},"default_sell_price":{"type":"number","format":"double"},"default_sell_price_in_tax":{"type":"number","format":"double"},"profit_percent":{"type":"number","format":"double"}}},"VariationDto":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"product_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"default_purchase_price":{"type":"number","format":"double"},"default_purchase_price_in_tax":{"type":"number","format":"double"},"default_sell_price":{"type":"number","format":"double"},"default_sell_price_in_tax":{"type":"number","format":"double"},"profit_percent":{"type":"number","format":"double"}}},"UpdateUnitRequest":{"type":"object","properties":{"base_unit_id":{"type":"string","format":"uuid"},"actual_name":{"type":"string"},"short_name":{"type":"string"},"base_unit_multiplier":{"type":"number","format":"float"},"allow_decimal":{"type":"boolean"}}},"UnitDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"organization_id":{"type":"string","format":"uuid"},"base_unit_id":{"type":"string","format":"uuid"},"actual_name":{"type":"string"},"short_name":{"type":"string"},"base_unit_multiplier":{"type":"number","format":"float"},"allow_decimal":{"type":"boolean"}}},"UpdateServiceRequest":{"type":"object","properties":{"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"serial_number":{"type":"string"},"sku_code":{"type":"string"},"bar_code":{"type":"string"},"qr_code":{"type":"string"},"name":{"type":"string"},"short_description":{"type":"string"},"long_description":{"type":"string"},"storage_condition":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"iot_number":{"type":"string"},"available_quantity":{"type":"integer","format":"int32"},"product_type":{"type":"string","enum":["TANGIBLE","INTANGIBLE"]},"base_price":{"type":"number"},"accessibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"sell_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"purchase_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"category_id":{"type":"string","format":"uuid"},"number_usage":{"type":"integer","format":"int32"},"transferable":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE","RESERVED","SOLD"]},"max_reservation":{"type":"integer","format":"int32"},"is_tangible":{"type":"boolean"},"expires_at":{"type":"string","format":"date-time"}}},"ServiceDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"serial_number":{"type":"string"},"sku_code":{"type":"string"},"bar_code":{"type":"string"},"qr_code":{"type":"string"},"name":{"type":"string"},"short_description":{"type":"string"},"long_description":{"type":"string"},"storage_condition":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"category_id":{"type":"string","format":"uuid"},"iot_number":{"type":"string"},"available_quantity":{"type":"integer","format":"int32"},"product_type":{"type":"string","enum":["TANGIBLE","INTANGIBLE"]},"base_price":{"type":"number"},"accessibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"sell_product_id":{"type":"string","format":"uuid"},"purchase_unit_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"number_usage":{"type":"integer","format":"int32"},"transferable":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE","RESERVED","SOLD"]},"max_reservation":{"type":"integer","format":"int32"},"is_tangible":{"type":"boolean"},"expires_at":{"type":"string","format":"date-time"},"service_id":{"type":"string","format":"uuid"},"organization_id":{"type":"string","format":"uuid"}}},"ProductCompositionRequest":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"label":{"type":"string"},"value_range":{"type":"string"},"comment":{"type":"string"}}},"UpdateResourceRequest":{"type":"object","properties":{"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"serial_number":{"type":"string"},"sku_code":{"type":"string"},"bar_code":{"type":"string"},"qr_code":{"type":"string"},"name":{"type":"string"},"short_description":{"type":"string"},"long_description":{"type":"string"},"storage_condition":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"iot_number":{"type":"string"},"available_quantity":{"type":"integer","format":"int32"},"product_type":{"type":"string","enum":["TANGIBLE","INTANGIBLE"]},"base_price":{"type":"number"},"accessibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"sell_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"purchase_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"category_id":{"type":"string","format":"uuid"},"number_usage":{"type":"integer","format":"int32"},"transferable":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE","RESERVED","SOLD"]},"max_reservation":{"type":"integer","format":"int32"},"is_tangible":{"type":"boolean"},"expires_at":{"type":"string","format":"date-time"},"product_compositions":{"type":"array","items":{"$ref":"#/components/schemas/ProductCompositionRequest"}}}},"ResourceDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"serial_number":{"type":"string"},"sku_code":{"type":"string"},"bar_code":{"type":"string"},"qr_code":{"type":"string"},"name":{"type":"string"},"short_description":{"type":"string"},"long_description":{"type":"string"},"storage_condition":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"category_id":{"type":"string","format":"uuid"},"iot_number":{"type":"string"},"available_quantity":{"type":"integer","format":"int32"},"product_type":{"type":"string","enum":["TANGIBLE","INTANGIBLE"]},"base_price":{"type":"number"},"accessibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"sell_product_id":{"type":"string","format":"uuid"},"purchase_unit_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"number_usage":{"type":"integer","format":"int32"},"transferable":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE","RESERVED","SOLD"]},"max_reservation":{"type":"integer","format":"int32"},"is_tangible":{"type":"boolean"},"expires_at":{"type":"string","format":"date-time"},"resource_id":{"type":"string","format":"uuid"},"organization_id":{"type":"string","format":"uuid"}}},"UpdateProductPostRequest":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"marchand_id":{"type":"string","format":"uuid"},"variation_id":{"type":"string","format":"uuid"},"product_id":{"type":"string","format":"uuid"},"category_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"long_description":{"type":"string"},"short_description":{"type":"string"},"sale_unit_id":{"type":"string","format":"uuid"},"base_price":{"type":"number"},"weight":{"type":"number"},"default_currency":{"type":"string"},"next_available_time":{"type":"string","format":"date-time"},"life_span":{"type":"integer","format":"int32"},"quantity":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"expired_at":{"type":"string","format":"date-time"},"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"default_price":{"type":"number"},"alert_quantity":{"type":"integer","format":"int32"},"is_tax_exempt_for_com_transactions":{"type":"boolean"}}},"ProductPostDto":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"marchand_id":{"type":"string","format":"uuid"},"variation_id":{"type":"string","format":"uuid"},"product_id":{"type":"string","format":"uuid"},"category_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"long_description":{"type":"string"},"short_description":{"type":"string"},"sale_unit_id":{"type":"string","format":"uuid"},"base_price":{"type":"number"},"weight":{"type":"number"},"default_currency":{"type":"string"},"next_available_time":{"type":"string","format":"date-time"},"life_span":{"type":"integer","format":"int32"},"quantity":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"expired_at":{"type":"string","format":"date-time"},"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"default_price":{"type":"number"},"alert_quantity":{"type":"integer","format":"int32"},"is_tax_exempt_for_com_transactions":{"type":"boolean"}}},"UpdateProductBrandRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"code":{"type":"string"},"image_id":{"type":"string","format":"uuid"},"created_by_user_id":{"type":"string","format":"uuid"},"notes":{"type":"string"}}},"ProductBrandDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"code":{"type":"string"},"image_id":{"type":"string","format":"uuid"},"created_by_user_id":{"type":"string","format":"uuid"},"notes":{"type":"string"}}},"UpdateModelRequest":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"name":{"type":"string"},"description":{"type":"string"}}},"UpdateModelResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"created_by_user_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"UpdateCategoryRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"owner_id":{"type":"string","format":"uuid"},"image_icon_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"short_code":{"type":"string"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]}}},"CategoryDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"short_code":{"type":"string"},"owner_id":{"type":"string","format":"uuid"},"image_icon_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"root":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]}}},"UpdateCategoryResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"short_code":{"type":"string"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"sub_categories":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDto"}}}},"UpdateAttributeRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"UpdateAttributeResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"CreateSalePriceRequest":{"type":"object","properties":{"sale_price_type":{"type":"string","enum":["RETAIL","WHOLESALE","SEMI_WHOLESALE","SUPER_WHOLESALE","DELIVERY","PURCHASE","OTHER_PRICE"]},"min_quantity":{"type":"integer","format":"int32"},"max_quantity":{"type":"integer","format":"int32"},"value":{"type":"number"},"max_reduction":{"type":"number"},"currency":{"type":"string"},"is_negociable":{"type":"boolean"},"validity_date":{"type":"string","format":"date-time"},"notes":{"type":"string"}}},"CreateVariationRequest":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"name":{"type":"string"},"default_purchase_price":{"type":"number","format":"double"},"default_purchase_price_in_tax":{"type":"number","format":"double"},"default_sell_price":{"type":"number","format":"double"},"default_sell_price_in_tax":{"type":"number","format":"double"},"profit_percent":{"type":"number","format":"double"}}},"VariationRequest":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"vairation_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"default_purchase_price":{"type":"number","format":"double"},"default_purchase_price_in_tax":{"type":"number","format":"double"},"default_sell_price":{"type":"number","format":"double"},"default_sell_price_in_tax":{"type":"number","format":"double"},"profit_percent":{"type":"number","format":"double"}}},"CreateUnitRequest":{"type":"object","properties":{"base_unit_id":{"type":"string","format":"uuid"},"actual_name":{"type":"string"},"short_name":{"type":"string"},"base_unit_multiplier":{"type":"number","format":"float"},"allow_decimal":{"type":"boolean"}}},"CreateServiceRequest":{"type":"object","properties":{"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"serial_number":{"type":"string"},"sku_code":{"type":"string"},"bar_code":{"type":"string"},"qr_code":{"type":"string"},"name":{"type":"string"},"short_description":{"type":"string"},"long_description":{"type":"string"},"storage_condition":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"iot_number":{"type":"string"},"available_quantity":{"type":"integer","format":"int32"},"product_type":{"type":"string","enum":["TANGIBLE","INTANGIBLE"]},"base_price":{"type":"number"},"accessibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"sell_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"purchase_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"category_id":{"type":"string","format":"uuid"},"number_usage":{"type":"integer","format":"int32"},"transferable":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE","RESERVED","SOLD"]},"max_reservation":{"type":"integer","format":"int32"},"is_tangible":{"type":"boolean"},"expires_at":{"type":"string","format":"date-time"}}},"CreateProductCompositionRequest":{"type":"object","properties":{"label":{"type":"string"},"value_range":{"type":"string"},"comment":{"type":"string"}}},"CreateResourceRequest":{"type":"object","properties":{"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"serial_number":{"type":"string"},"sku_code":{"type":"string"},"bar_code":{"type":"string"},"qr_code":{"type":"string"},"name":{"type":"string"},"short_description":{"type":"string"},"long_description":{"type":"string"},"storage_condition":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"iot_number":{"type":"string"},"available_quantity":{"type":"integer","format":"int32"},"product_type":{"type":"string","enum":["TANGIBLE","INTANGIBLE"]},"base_price":{"type":"number"},"accessibility":{"type":"string","enum":["PUBLIC","PRIVATE"]},"organisation_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"sell_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"purchase_packaging":{"type":"string","enum":["KG","CARTON","PIECE","METER"]},"category_id":{"type":"string","format":"uuid"},"number_usage":{"type":"integer","format":"int32"},"transferable":{"type":"boolean"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE","RESERVED","SOLD"]},"max_reservation":{"type":"integer","format":"int32"},"is_tangible":{"type":"boolean"},"expires_at":{"type":"string","format":"date-time"},"product_compositions":{"type":"array","items":{"$ref":"#/components/schemas/CreateProductCompositionRequest"}}}},"CreateProductPostRequest":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"marchand_id":{"type":"string","format":"uuid"},"variation_id":{"type":"string","format":"uuid"},"product_id":{"type":"string","format":"uuid"},"category_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"long_description":{"type":"string"},"short_description":{"type":"string"},"sale_unit_id":{"type":"string","format":"uuid"},"base_price":{"type":"number"},"weight":{"type":"number"},"default_currency":{"type":"string"},"next_available_time":{"type":"string","format":"date-time"},"life_span":{"type":"integer","format":"int32"},"quantity":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"expired_at":{"type":"string","format":"date-time"},"brand_id":{"type":"string","format":"uuid"},"immatriculation":{"type":"string"},"model_id":{"type":"string","format":"uuid"},"default_agency_id":{"type":"string","format":"uuid"},"default_price":{"type":"number"},"alert_quantity":{"type":"integer","format":"int32"},"is_tax_exempt_for_com_transactions":{"type":"boolean"}}},"CreateReviewRequest":{"type":"object","properties":{"user_id":{"type":"string","format":"uuid"},"targe_id":{"type":"string","format":"uuid"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"ReviewDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"},"targe_id":{"type":"string","format":"uuid"},"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"CreateReactionRequest":{"type":"object","properties":{"target_id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"},"reaction_type":{"type":"string","enum":["LIKE","LOVE","HAHA","WOW","SAD","ANGRY","CELEBRATE"]}}},"ReactionDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"target_id":{"type":"string","format":"uuid"},"user_id":{"type":"string","format":"uuid"},"reaction_type":{"type":"string","enum":["LIKE","LOVE","HAHA","WOW","SAD","ANGRY","CELEBRATE"]}}},"CreateProductBrandRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"code":{"type":"string"},"image_id":{"type":"string","format":"uuid"},"created_by_user_id":{"type":"string","format":"uuid"},"notes":{"type":"string"}}},"CreateModelRequest":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"created_by_user_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"CreateModelResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"created_by_user_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"MediaResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"targetId":{"type":"string","format":"uuid"},"name":{"type":"string"},"realName":{"type":"string"},"size":{"type":"integer","format":"int64"},"fileType":{"type":"string"},"primary":{"type":"boolean"}}},"CreateCategoryRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"owner_id":{"type":"string","format":"uuid"},"image_icon_id":{"type":"string","format":"uuid"},"parent_id":{"type":"string","format":"uuid"},"short_code":{"type":"string"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]}}},"CreateCategoryResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"short_code":{"type":"string"},"state":{"type":"string","enum":["AVAILABLE","UNAVAILABLE"]},"sub_categories":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDto"}}}},"AttributeValueResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"value":{"type":"string"}}},"CreateAttributeRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"CreateAttributeResponse":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"UpdateReviewRequest":{"type":"object","properties":{"rating":{"type":"integer","format":"int32"},"comment":{"type":"string"}}},"ModelDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"created_by_user_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"MediaDto":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"id":{"type":"string","format":"uuid"},"target_id":{"type":"string","format":"uuid"},"name":{"type":"string"},"real_name":{"type":"string"},"size":{"type":"integer","format":"int64"},"file_type":{"type":"string"},"is_primary":{"type":"boolean"}}},"AttributeDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"}}},"AttributeValueDto":{"type":"object","properties":{"created_at":{"type":"string","format":"date-time","readOnly":true},"updated_at":{"type":"string","format":"date-time","readOnly":true},"deleted_at":{"type":"string","format":"date-time","readOnly":true},"id":{"type":"string","format":"uuid"},"product_id":{"type":"string","format":"uuid"},"attribut_id":{"type":"string","format":"uuid"},"value":{"type":"string"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}}}